<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.livecommerce.project.mapper.CartMapper">
  	<!-- 카트 추가 -->
	<insert id="addCart">
	
		insert into cart(member_mid, product_pid, p_quantity)
		values(#{member_mid}, #{product_pid}, #{p_quantity}) 
	
	</insert>
	
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
	
		delete from cart where cart_id = #{cart_id}
	
	</delete>
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
	
		update cart set p_quantity=#{p_quantity} where cart_id = #{cart_id}
	
	</update>
	
	
	<!-- 카트 목록 -->
	<select id="getCart" resultType="com.livecommerce.project.vo.CartVO">
	
		select a.cart_id, a.member_mid, a.product_pid, a.p_quantity, b.pname, b.price, b.img1
  		from cart a left outer join product b on a.product_pid = b.pid
		where member_mid = #{member_mid}
        
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="com.livecommerce.project.vo.CartVO">
	
		select * from cart 
		where member_mid = #{member_mid} and product_pid = #{product_pid}
	
	</select>
  </mapper>