<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- **
 * @author 김민석
 * @since 2023.01.17
 * @version 1.0
 * 
 * <pre>
 * 수정일              	수정자                   수정내용
2023.01.17			김민석			   최초생성
</pre>
-->
  <mapper namespace="com.livecommerce.project.mapper.CouponMapper">
  	<!-- 쿠폰 추가 -->
	<insert id="addCoupon">
		insert into coupon(ccode, cname, cprice, cstartdate, cenddate, member_mid)
		values(#{ccode}, #{cname}, #{cprice}, #{cstartdate}, #{cenddate}, #{member_mid})
	</insert>
	<!-- 쿠폰리스트 추가 -->
	<insert id="addCouponList">
		insert into couponlist(member_mid, coupon_ccode)
		values(#{member_mid}, #{coupon_ccode})
	</insert>
	
	
	<!-- 쿠폰 확인 -->
	<select id="checkCoupon" resultType="com.livecommerce.project.vo.CouponVO">
	
		select * from coupon
		where ccode = #{ccode}	
	</select>
	
	<select id="getCouponList" resultType="com.livecommerce.project.vo.CouponVO">
		select * from coupon c, couponlist cl
		where c.ccode = cl.coupon_ccode
		and cl.member_mid = #{member_mid}
		and cstate = 'available'
	</select>
	
		<!-- 쿠폰 사용유무 수정 -->
	<update id="modifyCoupon">
	
		update coupon set cstate='used' where cname = #{cname}
		and member_mid = #{member_mid}
	
	</update>
	
	<select id="getCcode" resultType="com.livecommerce.project.vo.CouponVO">
          select ccode, cprice, member_mid, cstate
            from coupon 
           where member_mid = #{member_mid}
             and cname = #{cname}
	</select>
	
			<!-- 쿠폰사용시 주문번호 삽입 -->
	<update id="UpdateCouponOid">
		update coupon set oid=#{oid} where cname = #{cname}
		and member_mid = #{member_mid}
	</update>

  </mapper>