<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * @author 신기원
 * @since 2023.01.17
 * @version 1.0
 * 
 * <pre>
 * 수정일                		수정자                   수정내용
 * 2023.01.17		신기원		최초생성
 * 2023.01.19		신기원		getLiveInfo 생성
 * 2023.01.22		김나형		live 상품 조회
 * </pre>
 */ -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.livecommerce.project.mapper.LiveMapper">
  <resultMap type="com.livecommerce.project.vo.LiveVO" id="LiveMap">
	<result column="Member_mid"           property="mId" />
    <result column="live_id"          property="liveId" />
    <result column="ps_index"         property="psIndex" />
    <result column="live_title"       property="liveTitle" />
    <result column="img1"          property="fileImg" />
    <result column="live_startday"   property="liveStartDay" />
    <result column="live_start_time"  property="liveStartTime" />
    <result column="live_end_time"    property="liveEndTime" />
    <result column="live_view"        property="liveView" />
    <result column="live_status"       property="liveStatus" />
    <result column="img"        property="fileImg" />
    <result column="stream_key" property="streamKey"/>
    <result column="video_id" property="videoId"/>
    <result column="video_name" property="videoName"/>
    <result column="ps_title" property="psTitle"/>
    <result column="mname" property="mname"/>
	<collection property="videoVO" ofType="com.livecommerce.project.vo.VideoVO" resultMap="VideoMap"/>
	<collection property="productPostVO" ofType="com.livecommerce.project.vo.ProductPostVO" resultMap="ProductPostMap"/>
  </resultMap>
  
  <resultMap  id="VideoMap"       type="com.livecommerce.project.vo.VideoVO">
       <result column="video_id"        property="vid" />
       <result column="video_path"      property="vpath"/>
       <result column="video_name"      property="vname"/>
    </resultMap>
    
    <resultMap id="ProductPostMap"      type="com.livecommerce.project.vo.ProductPostVO">
      <result column="ps_index"         property="ps_index" />
      <result column="ps_title"         property="ps_title" />
      <result column="ps_price"         property="ps_price" />
      <result column="ps_post_status"    property="ps_post_status" />
    </resultMap>
   
    <select id="liveList" resultMap="LiveMap">
    	select li.*, pp.ps_title, pp.ps_price, pp.ps_post_status, m.stream_key
		from live LI left join product_post pp
		on li.ps_index = pp.ps_index join member m on li.member_mid = m.mid
		<![CDATA[ where TO_CHAR(LIVE_START_TIME,'YY-MM-DD HH24:MI') <=  to_char(CURRENT_DATE,'yy-mm-dd HH24:MI') 
		and TO_CHAR(LIVE_END_TIME,'YY-MM-DD HH24:MI') >=  to_char(CURRENT_DATE,'yy-mm-dd HH24:MI')]]>
		and li.live_status = '1'
    </select>
    
    <select id="trailerList" resultMap="LiveMap">
    SELECT  LI.*, PP.*, M.MNAME
		    FROM LIVE LI JOIN PRODUCT_POST PP
		    ON LI.PS_INDEX = PP.PS_INDEX JOIN MEMBER M
		    ON LI.MEMBER_MID = M.MID
  <![CDATA[WHERE TO_CHAR(LI.LIVE_START_TIME,'YY-MM-DD HH24:MI') > TO_CHAR(CURRENT_DATE,'YY-MM-DD HH24:MI')]]>
           ORDER BY LI.LIVE_STARTDAY,LI.LIVE_START_TIME 
    </select>
    
    <select id="getLiveInfo" parameterType="String" resultMap="LiveMap">
        /*LiveMapper.getLiveInfo*/
		SELECT       
			LI.MEMBER_MID
		    ,LI.LIVE_ID
		    ,LI.LIVE_TITLE
		    ,LI.LIVE_STATUS
		    ,to_char(LI.LIVE_STARTDAY, 'yy-mm-dd') AS LIVE_STARTDAY
            ,to_char(LI.LIVE_START_TIME, 'hh24:mi') AS LIVE_START_TIME
            ,to_char(LI.LIVE_END_TIME, 'hh24:mi') AS LIVE_END_TIME
            ,m.stream_key
		    ,PP.PS_INDEX
		    ,PP.PS_TITLE
		    ,PP.PS_PRICE
		    ,PP.PS_POST_STATUS
		FROM LIVE LI LEFT JOIN PRODUCT_POST PP
		ON li.ps_index = pp.ps_index join member m on li.member_mid = m.mid
		where PS_POST_STATUS = '판매중' and LIVE_ID = #{liveId}
    </select>
    
    <select id="getReplayInfo" parameterType="String" resultMap="LiveMap">
	    SELECT
            LI.MEMBER_MID
            ,LI.LIVE_ID
            ,LI.LIVE_TITLE
            ,LI.LIVE_VIEW
            ,to_char(LI.LIVE_STARTDAY, 'yy-mm-dd') AS LIVE_STARTDAY
            ,to_char(LI.LIVE_END_TIME, 'HH24:MI') AS LIVE_END_TIME
            ,m.stream_key
            ,PP.PS_INDEX
		    ,PP.PS_TITLE
		    ,PP.PS_PRICE
		    ,PP.PS_POST_STATUS
            ,VI.VIDEO_NAME  
        FROM LIVE LI LEFT JOIN VIDEO VI
		ON LI.VIDEO_ID = VI.VIDEO_ID JOIN PRODUCT_POST PP
		ON li.ps_index = pp.ps_index JOIN MEMBER M
        ON LI.MEMBER_MID = M.MID
        WHERE LIVE_ID = #{liveId}
        and PS_POST_STATUS = '판매중'
    </select>
  
  <update id="setLiveView">
        UPDATE LIVE
        SET    LIVE_VIEW = LIVE_VIEW+1
        WHERE  LIVE_ID = #{liveId}
    </update>
    <select id="getLiveView" parameterType="com.livecommerce.project.vo.LiveVO" resultType="int">
        SELECT LIVE_VIEW
        FROM   LIVE
        WHERE  LIVE_ID = #{liveId}
    </select>
  
  	<select id="getLiveProductList" resultType="com.livecommerce.project.vo.ProductVO">
  		select pid, pname, price, img1
  		from product
  		where pid in (select product_pid
  					  from product_post_add
  					  where ps_index = #{ps_index})
  	</select>
  	
	<select id="getRecipe" resultType="com.livecommerce.project.vo.ProductPostVO">
		select * from product_post where ps_index = #{ps_index}
	</select>
  	<insert id="createLive">
    	INSERT INTO LIVE(
            MEMBER_MID
            ,LIVE_ID
            ,PS_INDEX
            ,LIVE_TITLE
            ,LIVE_STARTDAY
            ,LIVE_START_TIME
            ,LIVE_END_TIME
            ,LIVE_Status
        )VALUES(
            #{mId, jdbcType=VARCHAR}
            ,#{liveId}
            ,#{psIndex}
            ,#{liveTitle}
            ,to_date(#{liveStartDay}, 'yy/mm/dd')
            ,to_date(#{liveStartTime},'yy/mm/dd HH24:MI')
            ,to_date(#{liveEndTime},'yy/mm/dd HH24:MI')
            , #{liveStatus}
        )
    </insert>
    
    <update id="updateLive">
    	UPDATE LIVE
	        SET    LIVE_TITLE = #{liveTitle}
	        ,LIVE_STARTDAY = to_date(#{liveStartDay}, 'yy/mm/dd')
	        ,LIVE_START_TIME = to_date(#{liveStartTime},'yy/mm/dd HH24:MI')
	        ,LIVE_END_TIME = to_date(#{liveEndTime},'yy/mm/dd HH24:MI')
	        ,LIVE_STATUS = #{liveStatus}
	        WHERE  LIVE_ID  = #{liveId}
    </update>
    
    <select id="countLive1Status" parameterType="HashMap" resultType="int">
        /*AdminMapper.countLive1Status*/
	     SELECT COUNT(LIVE_ID)
		 FROM   LIVE
<![CDATA[WHERE CONCAT(to_char(LIVE_STARTDAY,'yy-mm-dd'),to_char(LIVE_START_TIME,' HH24:MI')) <=  to_char(current_date,'yy-mm-dd HH24:MI') 
		AND CONCAT(to_char(LIVE_STARTDAY,'yy-mm-dd'),to_char(LIVE_END_TIME,' HH24:MI')) >=  to_char(current_date,'yy-mm-dd HH24:MI') ]]>
		AND Member_MID = #{mId, jdbcType=VARCHAR}
		AND LIVE_ID != #{liveId}
     </select>
     
     
     <select id="myLiveList" parameterType="String" resultMap="LiveMap">
         SELECT LI.LIVE_ID
               ,LI.LIVE_TITLE
               ,to_char(LI.LIVE_STARTDAY, 'yy-mm-dd') AS LIVE_STARTDAY
               ,to_char(LI.LIVE_START_TIME, 'HH24:MI') AS LIVE_START_TIME
               ,to_char(LI.LIVE_END_TIME, 'HH24:MI') AS LIVE_END_TIME
               ,LI.LIVE_VIEW
               ,LI.LIVE_STATUS
        FROM LIVE LI
        WHERE  LI.MEMBER_MID = #{mId}
        ORDER BY LIVE_STARTDAY DESC
    </select>
    
    <select id="recentVideoList" resultMap="LiveMap">
	    select LI.*, VI.*, m.stream_key
		FROM LIVE LI LEFT JOIN VIDEO VI
		ON li.video_id = vi.video_id JOIN MEMBER M ON LI.MEMBER_MID = M.MID
		WHERE LI.LIVE_STATUS IN ('1','2')
		ORDER BY LIVE_END_TIME DESC
    </select>
    
    <select id="viewVideoList" resultMap="LiveMap">
	    select LI.*, VI.*, m.stream_key
		FROM LIVE LI LEFT JOIN VIDEO VI
		ON li.video_id = vi.video_id JOIN MEMBER M ON LI.MEMBER_MID = M.MID
		WHERE LI.LIVE_STATUS IN ('1','2')
		ORDER BY LIVE_VIEW DESC
    </select>
    
    <insert id="createVideo">
    	INSERT INTO VIDEO(
                VIDEO_ID
                ,VIDEO_NAME
            )VALUES
            (
                #{vid}
                ,#{vname}
            )
    </insert>
    
    
    <update id="updateLiveVideo">
    	UPDATE LIVE
	        SET    VIDEO_ID = #{videoId},
	        	   LIVE_STATUS = 0
	        WHERE  LIVE_ID  = #{liveId}
    </update>
    
    <update id="updateLiveStatus">
    UPDATE LIVE  
            SET LIVE_STATUS = CASE
               <![CDATA[ WHEN TO_CHAR(LIVE_START_TIME,'YY-MM-DD HH24:MI') <=  TO_CHAR(current_date,'YY-MM-DD HH24:MI') 
               AND TO_CHAR(LIVE_END_TIME,'YY-MM-DD HH24:MI') >=  TO_CHAR(current_date,'YY-MM-DD HH24:MI') 
              THEN 1
             WHEN TO_CHAR(LIVE_END_TIME,'YY-MM-DD HH24:MI') <  TO_CHAR(current_date,'YY-MM-DD HH24:MI')]]>
             THEN 2
            ELSE 0
           END 
         WHERE TO_CHAR(LIVE_STARTDAY,'yy-MM-DD') = TO_CHAR(current_date,'yy-MM-DD') 
         AND LIVE_STATUS IN (0,1)
    </update>
    
    <select id="onlyVideoList" resultType="String">
    	SELECT VIDEO_NAME AS VNAME
    	FROM VIDEO
    </select>
    
     
  </mapper>