<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- /** * @author 신기원 * @since 2023.01.11 * @version 1.0 * * <pre> * 수정일 
	수정자 수정내용 * 2023.01.11 신기원 최초생성, 기능 추가 
	*2023.01.23 박소은 회원정보수정 추가 </pre>
	*2023.01.29 박소은 스트리밍 키 업데이트 추가 */ -->
<mapper namespace="com.livecommerce.project.mapper.MemberMapper">



	<select id="findById"
		resultType="com.livecommerce.project.vo.MemberVO">
		select * from member where mid = #{mid}
	</select>

	<insert id="join">
		insert into member values (#{mid}, #{mpassword}, #{mname}, #{mtel},
		#{mbirth}, #{memail}, #{mgender}, sysdate, 0, #{mrole}, #{maddress1},
		#{maddress2}, #{mzipcode}, null)
	</insert>

	<update id="changeInfo">
		update member set mtel = #{mtel}, memail = #{memail}, mzipcode =
		#{mzipcode}, maddress1 = #{maddress1}, maddress2 = #{maddress2} where
		mid = #{mid}
	</update>

	<select id="findMyId" resultType="String">
		select mid from member where mname = #{mname} and mtel = #{mtel}
	</select>

	<select id="findMyPassword" resultType="String">
		select mpassword from member where mid = #{mid} and mname = #{mname} and
		mtel = #{mtel}
	</select>

	<!-- 주문자 정보 -->
	<select id="getMemberInfo"
		resultType="com.livecommerce.project.vo.MemberVO">
		SELECT mid, mpassword,mname, mtel, mbirth, memail, mgender, mjoindate,
		mpoint, mrole,
		maddress1, maddress2, mzipcode
		FROM member
		WHERE mid = #{mid}
	</select>
	
	<!-- get stream key -->
    <select id ="getStreamKey" parameterType="String" resultType="String">
    	select stream_key
    	from member
    	where mid = #{mid}
    	
   	</select>
   	
   	<!-- update stream key -->
    <update id = "updateStreamKey" parameterType="com.livecommerce.project.vo.MemberVO">
    	update member
    	set stream_key = #{streamKey}
    	where mid = #{mid}
    	
    </update>
   	

	<update id="updateMember">
		update member
		set mtel = #{mtel}, memail = #{memail}, mzipcode = #{mzipcode} ,
		maddress1 =#{maddress1}, maddress2 =#{maddress2}
		
		where mid = #{mid}
	</update>
	
	<!-- 전체 멤버 리스트 -->
	<select id="getMemberListAll" resultType="com.livecommerce.project.vo.MemberVO">
		<![CDATA[
		select * 
		from(
		    select rownum rn, mid, mname, mrole
		    from member
		    where rownum <= #{pageNum} * #{amount} 
		]]>    
		<if test="keyword != null">
			and mid like '%'||#{keyword}||'%'
		</if>
		<![CDATA[
		    
		    order by mjoindate desc
		    )
		where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	
	<!-- 페지징+검색처리 멤버 총 인원 -->
	<select id="getMemberTotal" resultType="int">
	
		select count(*) from member
		
	    <if test="keyword != null">
	    	where mid like '%'||#{keyword}||'%'
	    </if>
	
	</select>
	
	<update id="updateRole">
		update member set mrole = 'ROLE_ADMIN' where mid = #{mid}
	</update>
		
</mapper>