<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.livecommerce.project.mapper.MypageMapper">
  <!-- 주문 리스트 -->
	<select id="getOrderList" resultType="com.livecommerce.project.vo.OrderVO">
		    select oid, member_mid, ostate, odate, imp_uid
		    from orders
		    where member_mid = #{member_mid} 
	</select>	
	
	<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
	
		select count(*) from orders
		
	    <if test="keyword != null">
	    	where member_mid like '%'||#{keyword}||'%'
	    </if>
	
	</select>
	
	<!-- 주문취소에 따른 주문상태변경 -->
	<update id="ordercancelState">
		  update orders set ostate = '주문취소' where oid = #{oid}
	</update>
  </mapper>