<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <!-- **
 * @author 김민석
 * @since 2023.01.21
 * @version 1.0
 * 
 * <pre>
 * 수정일              	수정자                   수정내용
2023.01.21			김민석			   최초생성
</pre>
-->
  <mapper namespace="com.livecommerce.project.mapper.MypageMapper">
  <!-- 주문 리스트 -->
	<select id="getOrderList" resultType="com.livecommerce.project.vo.OrderVO">
	select o.oid, p.img1, p.pname, ol.olprice, ol.olquantity, o.odate, o.ostate, o.imp_uid
 	  from orders o
         , orderlist ol
         , product p
     where o.oid = ol.oid
       and member_mid = #{member_mid}
       and ol.pid = p.pid
     order by odate desc
	</select>	
	
	<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
	
		select count(*) from orders
		
	    <if test="keyword != null">
	    	where member_mid like '%'||#{keyword}||'%'
	    </if>
	
	</select>
	
	<!-- 주문취소에 따른 주문상태변경 -->
	<update id="ordercancelState">
		  update orders set ostate = '주문취소' where oid = #{oid}
	</update>
	
	<!-- 멤버아이디별 중복처리한 oid값들 -->
	<select id="getOid" resultType="String">
		select distinct(oid) 
 	      from orders
         where member_mid = #{member_mid}
         order by oid desc
	</select>
	
	<!-- 주문아이디별 주문리스트 -->
    <select id="getOidorderList" resultType="com.livecommerce.project.vo.OrderVO">
	select o.oid, p.img1, p.pname, ol.olprice, ol.olquantity, o.odate, o.ostate, o.imp_uid
 	  from orders o
         , orderlist ol
         , product p
     where o.oid = ol.oid
       and member_mid = #{member_mid}
       and o.oid = #{oid}
       and ol.pid = p.pid
     order by odate desc
	</select>
	
	<!-- 주문취소에 따른 포인트회수 -->
	<update id="orderCancelReturnPoint">
	UPDATE MEMBER 
       SET MPOINT = 
               (select mpoint from member where mid=#{mid}) -  
               (select sum(olquantity * savepoint)
                  from orderlist
                 where oid = #{oid}) +
               (select usepoint from orders where oid = #{oid})
     WHERE MID = #{mid}
     </update>
     <!-- 쿠폰사용_주문상세페이지 -->
    <select id="getOrderDetail" resultType="com.livecommerce.project.vo.OrderVO">
		select o.oid, o.odate, o.ostate, p.img1, p.pname, ol.olquantity, ol.olprice, o.orderer, o.oaddress1, o.oaddress2
		     , o.usepoint, c.cprice, m.mtel, ol.savepoint
 		  from orders o
    		 , orderlist ol
    		 , product p
    		 , member m
    		 , coupon c
 		 where o.oid = ol.oid
  		   and ol.pid = p.pid
  		   and o.oid = #{oid}
           and o.member_mid = #{mid}
           and o.member_mid = m.mid
           and o.oid = c.oid
	</select>
	
	<!-- 쿠폰사용_주문상세페이지 -->
	  <select id="NoCouponOrderDetail" resultType="com.livecommerce.project.vo.OrderVO">
		select o.oid, o.odate, o.ostate, p.img1, p.pname, ol.olquantity, ol.olprice, o.orderer, o.oaddress1, o.oaddress2
		     , o.usepoint, m.mtel, ol.savepoint
 		  from orders o
    		 , orderlist ol
    		 , product p
    		 , member m
 		 where o.oid = ol.oid
  		   and ol.pid = p.pid
  		   and o.oid = #{oid}
           and o.member_mid = #{mid}
           and o.member_mid = m.mid
	</select>
		
  </mapper>