<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <!-- **
 * @author 김민석
 * @since 2023.01.23
 * @version 1.0
 * 
 * <pre>
 * 수정일              	수정자                   수정내용
2023.01.23			김민석			   최초생성
</pre>
-->
  <mapper namespace="com.livecommerce.project.mapper.OrderMapper">
  <!-- 주문 상품 정보 -->
	<select id="getGoodsInfo" resultType="com.livecommerce.project.vo.OrderPageItemVO">
	
		select pid, pname, price, img1
          from product where pid = #{pid}	
	</select>
	
	<select id="getOrderInfo" resultType="com.livecommerce.project.vo.OrderListVO">
	
		select pid, price as olprice
		from product where pid= #{pid}
	
	</select>
	
	<!-- 주문 테이블 등록 -->
	<insert id="enrollOrder">
	
		insert into orders(oid, orderer, member_mid, ozipcode, oaddress1, oaddress2, ostate, odate, usePoint, imp_uid)
   		values(#{oid},#{orderer}, #{member_mid}, #{ozipcode}, #{oaddress1}, #{oaddress2}, '배송준비', current_date, #{usePoint}, #{imp_uid})
	</insert>
	
	<!-- 주문 리스트 테이블 등록 -->
	<insert id="enrollOrderList">
	
   		insert into OrderList(oid, pid, olquantity, olprice, savepoint)
		values(#{oid}, #{pid}, #{olquantity}, #{olprice}, #{savepoint})
        
	</insert>
	
	<!-- 주문 금액 차감 -->
	<update id="deductPoint">
	
	  update member set mpoint = #{mpoint} where mid = #{mid}
    
	</update>
	
	<!-- 주문 재고 차감 -->
	<update id="deductStock">
	
		  update product set pstock = #{pstock} where pid = #{pid}
	
	</update>
  </mapper>