<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- @author 김나형 -->
<mapper namespace="com.livecommerce.project.mapper.ProductPostMapper">

	<!-- 아이디당 post 갯수구하기 -->
	<select id="postGetTotal" resultType="int">
		select count(*)
		from product_post
		where mid = #{mid}
	</select>
	
	<!-- post 리스트 -->
	<select id="getProductPost"
			resultType="com.livecommerce.project.vo.ProductPostVO">
		select *
		from ( select a.*, rownum as rn
				from (select *
					  from product_post
					  where mid = #{mid}
					  order by ps_index desc)a)b
		where
    	<![CDATA[        
             rownum <= #{cri.pageNum}*#{cri.amount} and rn > (#{cri.pageNum} - 1) * #{cri.amount}
      	]]>
	</select>
	
	<!-- post 등록 -->
	<insert id="postAdd">
		insert into product_post
		(mid, ps_title, ps_price, ps_post_status)
		values
		(#{mid}, #{ps_title}, #{ps_price}, #{ps_post_status})
		<selectKey keyProperty="ps_index" order="AFTER" resultType="int">
			select ps_index
			from product_post
			where mid = #{mid} and ps_title = #{ps_title} and ps_price = #{ps_price}
		</selectKey>
	</insert>
	
	<!-- post add 등록 -->
	<insert id="postproductAdd">
		insert into product_post_add
		values(#{ps_index}, #{pid})
	</insert>
	
	<!-- post 상세정보 -->
	<select id="getPostDetail" resultType="com.livecommerce.project.vo.ProductPostVO">
		select * from product_post where ps_index = #{ps_index}
	</select>
	
	<!-- post product 상세정보 -->
	<select id="getPostProductDetail" resultType="com.livecommerce.project.vo.ProductPostAddVO">
		select product_pid from product_post_add where ps_index = #{ps_index}
	</select>
	
	<!-- post 수정-->
	<update id="postModify">
		update product_post
		set ps_title = #{ps_title}, ps_price = #{ps_price}, ps_post_status = #{ps_post_status}
		where ps_index = #{ps_index}
	</update>
	
	<!-- post add 수정 -->
	<delete id="postproductDelete" parameterType="int">
		delete product_post_add
		where ps_index = #{ps_index}
	</delete>
	
	<!-- post선택삭제 -->
	<delete id="postDelete" parameterType="java.util.List">
		delete product_post
		where
			<foreach collection="list" item="value" separator="OR">
				ps_index = #{value}
			</foreach>
	</delete>
	<!-- 판매상품리스트 -->
	<select id="getpdlist" resultType="com.livecommerce.project.vo.ProductVO">
		select pid, pname, price
		from product
		where pstatus = 1
	</select>
</mapper>